html{
    scroll-behavior:smooth;
}

body{
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

h1{
    color: black;
    font-size: 60px;
}

p{
    font-size: 20px;
    color: yellowgreen;
}

.cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card{
    width: 250px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: transform 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.hero{
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(Imagenes/Portada.jpg);
    background-size: cover;
    background-position: center;
    color:white
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.5);
}

.menu a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 200;
}

.hero-text{
    text-align: center;
    margin-top: 200px;
}

.hero-text h1{
    font-size: 60px;
}

.boton{
    display: inline-block;
    background: #25d366;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 18px;
}

.galeria{
    width: 100%;
    padding:50px 0;
    text-align: center;
}

.galeria h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.grid-galeria{
    display: flex;
    width: 100px;
}

.grid-galeria img{
    width: 450%;
    height: 350px;
    object-fit: cover;
}

.grid-galeria img:hover{
    transform:scale(1.05);
    transition: 0.3s;
}

.ubicacion{
    padding: 50px;
    background:#ffffff;
}

@media (max-width:768px){
    .cards{
        flex-direction:column;
        align-items:center;
    }
    .hero-text h1{
        font-size: 40px;
    }
    nav{
        flex-direction: column;
    }
    .menu{
        margin-top:10px;
    }
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background:#25d366;
    color: white;
    font-size: 30px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.whatsapp img{
    width: 35px;
    height: 35px;
}